@font-face {
    font-family: 'NT Somic';
    src: url('resources/NT Somic.ttf') format('truetype');
}
body {
    height: 100%;
    margin: 0px;
    font-family: 'NT Somic';
    font-size: 30px;
    background-color: rgb(20, 20, 35);
    color:beige;
}
img {
    height: 75px;
    width: 75px;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
#intro {
    margin-top: 5%;
    width: 100%;
}
#intro-content {
    width: 80%;
    flex-flow: column;
}
#textbox {
    width: 60%;
}
#links-desc {
    width: 100%;
}
.socials {
    flex-flow: row;
    flex-grow: 5;
}
.works {
    flex-flow: row;
    flex-grow: 3;
}
#links {
    width: 100%;
    flex-flow: row;
    div {
        flex-flow: row;
        div {
            margin: 10px;
        }
    }
}
p {
    text-align: center;
    margin-top: 0%;
}
#language {
    margin-top: 20px;
    font-size: 23px;
    a {
        color:darkolivegreen;
        font-weight: bold;
    }
}